.controls {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  transition: all 2s ease-in-out;
  gap: 16px;

}


.align-items-center {
  margin: auto 30% ;
}
.align-items-start {
  margin-left: 0px;
}