.input {
  display: block;
}

.input label {
  font-weight: bold;
}

.input input {
  /* width:100%; */
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #eee;
  transition: 0.3s border-color;
}

.input input:hover {
  border: 1px solid #aaa;
}
